* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  background-color: rgba(175, 206, 187, 0.605);
  padding: 30px;
  min-height: 100vh;
}
.form-wrapper {
  background: url('../src/assets/bg3.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 480px;
  min-height: 90vh;
  padding: 10px;
  display: block;
  margin: auto;
  /* border: 2px solid red; */
}

.form-container {
  /* border: 1px solid yellow; */
  width: 370px;
  display: block;
  margin: auto;
}

.input-wrapper {
  display: flex;
  justify-content: left;
  /* border: 1px solid red; */
}

.add-input,
.edit-input {
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  width: 175px;
}

.visible {
  display: block;
}

.invisible {
  display: none;
}
